<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liuzhengwei.ebook.mapper.UserMapper">

    <!--获取用户-->
    <select id="getUser" resultType="cn.liuzhengwei.ebook.entity.User">
        SELECT *
            FROM users
                WHERE account = #{account}
    </select>

    <!--检查用户名与密码是否正确-->
    <select id="getLoginState" resultType="cn.liuzhengwei.ebook.entity.User">
        SELECT *
            FROM users
                WHERE account = #{account} and password = #{password}
    </select>

    <!--改变用户权限-->
    <update id="changeUser">
        UPDATE users
            SET allowed= #{allowed}
                WHERE account= #{account}
    </update>

    <!--添加用户-->
    <insert id="createUser">
        INSERT INTO users(account, password, name, allowed, isManager, mail)
            values(#{account}, #{password}, #{name}, #{allowed}, #{isManager}, #{mail})
    </insert>

    <!--获取所有用户权限-->
    <select id="getUserState" resultType="cn.liuzhengwei.ebook.entity.User">
        SELECT  account,
                name,
                allowed
        FROM users
        WHERE isManager &lt;> true
    </select>

    <!--根据邮箱获取用户-->
    <select id="getUserWithMail" resultType="cn.liuzhengwei.ebook.entity.User">
        SELECT *
        FROM users
        WHERE mail = #{mail}
    </select>
</mapper>